#menu {
    height          : calc(100vh - 100px);
    overflow-y      : scroll;
    background-color: #f5f5f5;
}

li.head {
    padding         : 10px 15px;
    background-color: #f5f5f5;
    font-weight     : bold;
    border-bottom   : 1px solid #eee;
}

li.current {
    font-weight: bold;
}

li.division,
.division {
    border-bottom: 1px solid #eee;
    padding      : 5px 0;
}

#menu li a {
    padding: 10px 15px;
}

#content {
    height    : calc(100vh - 100px);
    overflow-y: scroll;
}

.method {
    background: #eee;
    padding   : 10px 0;
}

.code {
    min-height: 500px;
    width     : 100%;
    background: #2d2d2d;
    color     : #ccc;
}

video {
    width : 100%;
    height: 225px;
}